*{
    justify-content: center;
    text-align: center;
    background-color:pink;
}
h2{
    color:blue;
    text-align:center;
    font-style:italic;
    font-weight: bolder;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    color:black
    font-size:large;
    font-weight:bold;
    font-family: sans serif;
}
#giraffe{
    border-image: 3%;
    float:left;
    flex-wrap: wrap;
}