table{
    width:1200px;
    height:150px;
}
th{
    text-align: left;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
td{
    text-align:left;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding:10px;

}
*{
    background-color:lightblue;
    text-align: center;
}
#mara{
    float:right;
    flex-wrap: wrap;
}
h2{
    font-weight: bolder;
    font-style: italic;
    color:green;
    font-size: xx-large;
    text-align:center;
    text-decoration: underline;
}
p{
    text-align:center;
    font-size:medium;
    font-weight: bold;
}
nav{
    margin: o auto;
    padding: 0.1%;
    margin-right: 0;
    }
    nav>ul{
    text-align: right;
    }
    ul>li{
    display: inline-block;
    padding: 0px 20px;
    }
    ul>li>a{
    text-transform: uppercase;
    padding: 0.1%;
    text-decoration: none;
    color:red;
    width: 10%;
    }
    ul>li>a:hover{
    box-shadow: 0 0 0 0.625em rgba(0, 0, 0 , 0.1), insert 0 0 0.625em rgba(255, 255, 255, 0.6);
    background-color: rgba(107, 93, 84, 0.678);
    color: rgba(24, 223, 24, 0.702)
    } 
    











